.counter{
  font-size: 54px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid aqua;
  border-radius: 30px;
  gap: 10px;
}
.red{
  color: red;
}