$d: 70; // density
$w: 600; // grid size
$s: 3s; // speed

// Generate the snow image using radial gradients
$grad: ();
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * .1 + .5;
  $grad: $grad, radial-gradient(
                  $v+px $v+px at (random($w - $v * 2) + $v)+px (random($w - $v * 2) + $v)+px,
                  rgba(255, 255, 255, $a) 50%,
                  rgba(0, 0, 0, 0)
  ) !global;
}

// The CSS
html {
  height: 100%;
  background: linear-gradient(#123 30%, #667);
  overflow: hidden;
}

.snow, .snow:before, .snow:after {
  position: absolute;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -$w/3 + px;
  opacity: .4;
  animation-duration: $s*2;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: $s*3;
  animation-direction: reverse;
  margin-left: -$w/2 + px;
  opacity: .65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 500px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.43);
    border: 5px solid #F18230;
    border-radius: 30px;
    padding: 20px 10px 20px 20px;
    z-index: 9;
    transition: 1s ease-in-out;
    gap: 20px;
    .counterApp {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .settings{
      width: 50px;
      height: 45px;
      opacity: 1;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      background-image: url("images/settings.png");
    }
  }

  .settingsContainer {
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.43);
    border: 5px solid #F18230;
    padding: 20px;
    transform: translate(-320px);
    transition: 1s ease-in-out;
    opacity: 0;
    z-index: 2;
    &:active {
      background: rgb(0, 0, 0);
      transform: translate(0);
      opacity: 1;
    }


    .counter {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      height: 340px;
      gap: 66px;

      .maxSet {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
      }

      .minSet {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
      }

      .getAndSet {
        display: flex;
        align-self: center;
      }
    }

  }

}


.buttonWrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #F18230;
  border-radius: 30px;

}